@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --bg-header: #4554c3;
  --ft-roboto: "Roboto", sans-serif;
  --clr-white: #fff;
  --clr-primary: #2647aa;
  --clr-primary-light: #3b59b2;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: var(--ft-roboto);
}

section {
  min-height: 100vh;
}

header {
  min-width: 100%;
  background-color: var(--bg-header);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  position: relative;
}

.itc-title {
  color: var(--clr-white);
  font-size: 42px;
  font-weight: 700;
}

.container-logo {
  display: flex;
  /* align-items: flex-end; */
}

.container-logo img {
  width: 100px;
  height: 100px;
  margin-right: 20px;
}

.border-w {
  width: 3px;
  height: 100px;
  background-color: var(--clr-white);
  margin-right: 20px;
  border-radius: 10px;
}

/* container main section 1 */
.container-main-section1 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.container-main-section1 img {
  margin-right: 20px;
  width: 400px;
  height: 400px;
}

.container-main-section1 div {
  position: relative;
}

.container-main-section1 h1 {
  text-align: center;
  font-size: 42px;
  word-spacing: 0.5rem;
}

.container-main-section1 button {
  position: absolute;
  bottom: -150px;
  left: 0;
  padding: 1rem 2.5rem;
  color: var(--clr-white);
  background-color: var(--clr-primary);
  border: none;
  border-radius: 5px;
  animation: up-and-down-btn 2s infinite cubic-bezier(0.5, -0.4, 0.5, 0.4);
}

@keyframes up-and-down-btn {
  0% {
    transform: translateY(5px);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}

.container-main-section1 button:hover {
  background-color: var(--clr-primary-light);
}

/* phone */
@media screen and (max-width: 768px) {
  header {
    padding: 12px 5px;
    overflow: hidden;
  }
  .container-logo img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
  }
  .container-logo .border-w {
    height: 50px;
  }
  .itc-title {
    font-size: 14px;
  }
  .container-main-section1 {
    flex-direction: column;
  }
  .container-main-section1 h1 {
    margin-top: 3rem;
    text-align: center;
    font-size: 24px;
  }
  .container-main-section1 img {
    margin-right: 20px;
    width: 300px;
    height: 300px;
  }

  .container-main-section1 button {
    bottom: -400px;
    padding: 0.5rem 1.5rem;
  }
}

/* tablet */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    header {
        padding: 15px 25px;
      }
      .container-logo img {
        width: 70px;
        height: 70px;
        margin-right: 15px;
      }
      .container-logo .border-w {
        height: 70px;
      }
      .itc-title {
        font-size: 24px;
      }
      .container-main-section1 h1 {
        margin-top: 3rem;
        text-align: center;
        font-size: 24px;
      }
      .container-main-section1 img {
        margin-right: 20px;
        width: 300px;
        height: 300px;
      }
    
      .container-main-section1 button {
        padding: 1rem 2rem;
      }
}

/* desktop */
@media screen and (min-width: 1024px) {
    header {
        padding: 30px 40px;
    }
}
